footer i{
    align-self: center;
    margin: auto;
    padding:0;

}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .nav-wrapper{
    @extend .transparent, .black-text

  }