{% extends "base.html" %}
{% block content %}
<h1 class="center-align">Booking Calender</h1>

<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search_booking') }}" method="POST" class="col s12">
        <div class="row center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Booking</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('booking_calender') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="light-blue darken-1 btn text-shadow">Search</button>
            </div>
        </div>
    </form>
</div>

{% if bookings|length > 0 %}

{% for booking in bookings %}

<div class="col s12 m8">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text left-align">
            <span class="card-title"><strong>{{ booking.student|capitalize }}</strong> : {{ booking.date }}</span>
            <strong>Student: {{ booking.student|capitalize }}</strong>
            <p>Date: {{ booking.date }}</p>
            <p>Time: {{ booking.time_slot }}</p>
            <p>Instructor: <span id='instructor-username'>{{ booking.instructor|capitalize }}</span></p>
            <p>Details: {{ booking.optional_details }}</p>
        </div>
        <div class="card-action right-align">
            <a class="waves-effect waves-light red btn modal-trigger" href="#editModal{{ booking._id }}">Edit</a>
            <a class="waves-effect waves-light red btn modal-trigger" href="#cancelModal{{ booking._id }}">Cancel</a>
        </div>
    </div>
</div>




<div id="editModal{{ booking._id }}" class="modal edit-modal center-align">
    <div class="modal-content">
        <h4>Edit Booking</h4>
        <form method="POST" action="{{ url_for('edit_booking', booking_id=booking._id) }}">

            <input value="{{ booking._id }}" class='hide' disabled>

            <div id='date-picker-div' class="">
                <input id="lesson-booking-date-picker-edit" value="{{ booking.date }}" name='date' type="text"
                    class="datepicker required validate" placeholder="choose a day" required>
            </div>

            <select id="time-selector" class="browser-default filled-in required validate" name="time_slot" required>
                <option id='disabled-select' value="{{ booking.time_slot }}" selected>{{ booking.time_slot }}</option>

            </select>

            <input value="{{ booking.optional_details }}" id="optional_details" name='optional_details' type="text"
                class="">



    </div>
    <div class="modal-footer">
        <button type='submit' class="modal-close waves-effect waves-light btn-small">Update</button>
        <a href="" class="modal-close waves-effect waves-light btn-small">Close</a>
    </div>
    </form>
</div>

<div id="cancelModal{{ booking._id }}" class="modal center-align">
    <div class="modal-content">
        <h4>Cancel Booking</h4>
        <p>Are you sure you want to cancel your booking on the {{ booking.date }} with {{ booking.student|capitalize }}?
        </p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('cancel_booking', booking_id=booking._id) }}"
            class="modal-close waves-effect waves-light btn-small">Cancel</a>
        <a href="" class="modal-close waves-effect waves-light btn-small">Close</a>
    </div>
</div>
{% endfor %}
{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}



{% endblock %}