{% extends "base.html" %}
{% block content %}

<h1>Book a Lesson</h1>
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{{ url_for('bookLesson', username=session['user']) }}" class="breadcrumb">Choose Instructor</a>
        <a href="#!" class="breadcrumb">Choose Time</a>
      </div>
    </div>
</nav>

<form class="col s12" method="POST" action="{{ url_for('bookLessonTime') }}">
    <select class="browser-default" name="bookingTime">
        <option value="" disabled selected>Choose a Time</option>
        {% if session.bookableTimes == 'Fully Booked' %}
          <option disabled>Fully Booked</option>
        {% else %}
          {% for times in session.bookableTimes %}
              <option value="{{ times }}">{{ times }}</option>
          {% endfor %}
        {% endif %}
    </select>
    
    {% if session.bookableTimes != 'Fully Booked' %}
      <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow" required>
        Book
      </button>
    {% else %}
      <a href="{{ url_for('bookLesson', username=session['user']) }}" class="waves-effect waves-light btn-large">Return</a>
    {% endif %}

</form>



{% endblock %}