{% extends "base.html" %}
{% block content %}

<h1>Book a Lesson</h1>

<div>
    <form>
        <div class="col m6">
            <div class="row">
                <select class="browser-default" name="accountType">
                    <option value="" disabled selected>Choose instructor</option>
                    {% for user in users %}
                    {% if user.accountType == 'instructor' %}
                    <option value="{{ user.username }}">{{ user.firstName }} {{ user.lastName }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div id='date-picker-div' class="row">
                <input id="lesson-booking-date-picker" type="text" class="datepicker">
            </div>

        </div>
        <div class="col m6">
            <a class="waves-effect waves-light btn-large" value="10:00 - 11:00">10:00 - 11:00</a>
            <a class="waves-effect waves-light btn-large" value="11:00 - 12:00">11:00 - 12:00</a>
            <a class="waves-effect waves-light btn-large" value="13:00 - 14:00">13:00 - 14:00</a>
            <a class="waves-effect waves-light btn-large" value="14:00 - 15:00">14:00 - 15:00</a>
            <a class="waves-effect waves-light btn-large" value="15:00 - 16:00">15:00 - 16:00</a>
            <a class="waves-effect waves-light btn-large" value="16:00 - 17:00">16:00 - 17:00</a>
        </div>
    </form>
</div>

{% endblock %}