  
{% extends "base.html" %}
{% block content %}
<h1 class='center-align'>Home</h1>
<p>quick description </p>
<div class="row">
    <div class="col s6"><a href="#">Login</a></div>
    <div class="col s6"><a href="#">Book Now!</a></div>
</div>

<div class="row">

    <div class="col s12 m4">
      <div class="card-panel teal">
        <span class="white-text">Review 1
        </span>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card-panel teal">
        <span class="white-text">Review 2
        </span>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card-panel teal">
        <span class="white-text">Review 3
        </span>
      </div>
    </div>

</div>
{% endblock %}