{% extends 'base.html' %}
{% block content %}
<h1 class="center-align">Login</h1>
<div class="container center-align ">
  <div class="row center-align">
    <form class="col s12" method="POST" action="{{ url_for('login') }}">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Username" id="username" name='username' type="text" class="validate">
          <input placeholder="Username" id="username" name='username' type="text" class="validate" required>
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name='password' class="validate">
          <input id="password" type="password" name='password' class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Login
      </button>
    </form>
  </div>
  <a href='{{ url_for("register") }}'>Don't have an account? Sign up!</a>
</div>
{% endblock %}