{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Your Bookings</h1>


{% if bookings|length > 0 %}
    <ul class="collapsible">
        {% for booking in bookings %}
        <li>
            <div class="collapsible-header white-text red darken-3 text-shadow row">
                <div class="col s1">
                    <i class="fas fa-caret-down"></i>
                    
                </div>
                <div class="col s9">
                    <strong>{{ booking.instructor }}</strong> : {{ booking.date }}
                    
                </div>
                <div class="col s4 right">
                    <a href="" class="btn-small green accent-4 right">Cancel</a>
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ booking.instructor }}</strong>
                <p>{{ booking.date }}</p>
                <p>{{ booking.timeSlot }}</p>

            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}

{% endblock %}